*{
    margin:0 auto;
    padding:0;
}
.container{
    margin:0 auto;
    width:800px;
}
.unos{
    width:200px;
}
.frame{
    margin:0 auto;
    width:600px;
    height:400px;
}
table{
    border: 1px solid black;
    margin:0 auto;
}
th{
    background-color: lightgreen;
}
th,td{
    border:1px solid black;
    margin:0;
}
h2{
    text-align: center;
}
.filmovi{
    margin:0 auto;
    max-width:800px;
}